*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.top-header{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 30px;
}
.top-header p a{
    color: aquamarine;
    font-size: 16px;
}
.vid{
    text-align: center;
}
.p1{
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    color: white;
    padding: 30px;
}
.p2{
    text-align: center;
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    padding: 30px;
}
.slika{
    text-align: center;
}
.slika p{
    padding: 10px;
}
.comming-soon p{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 30px;
}

.comming-soon p a{
    color: aquamarine;
    font-size: 16px;
}
footer p{
    text-align: right;
    color: gray;
    padding: 30px;
    font-size: larger;
}